{% extends 'base.html' %}

{% block content %}
<h1>{{ device.name }}</h1>
{% if variants %}
<ul>
    {% for variant in variants %}
        <li>{{ variant.storage }}GB | ${{ variant.price }} <a href="{% url 'upd_var' variant.pk %}"><button>Update</button></a></li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'add_var' device.pk  %}" method="post">
    {% csrf_token %}
    {{ variant_form.as_p }}
    <input type="submit">
    <script>
        document.querySelector("#id_storage").setAttribute("placeholder", "Number of GB");
        document.querySelector("#id_price").setAttribute("placeholder", "e.g. '799'");
    </script>
</form>
{% endblock %}