{% extends 'base.html' %}
{% load mathfilters %}

{% block content %}
<h1 id="device-header">{{ device.name }}</h1>
{% if variants %}
    {% for variant in variants %}
    <p>
        {% if variant.storage >= 1000 %}
        {{ variant.storage|div:1000 }}TB
        {% else %}
        {{ variant.storage }}GB
        {% endif %}
        | ${{ variant.price }} | ${{ variant.price|div:variant.storage|floatformat:2 }}/GB
        {% if user.is_authenticated %}
        <a href="{% url 'upd_var' variant.pk %}">
            <button>Update</button>
        </a>
        {% endif %}
    </p>
    {% endfor %}
</ul>
{% endif %}
<br>
{% if user.is_authenticated %}
<h2>Add a New Storage Option</h2>
<form action="{% url 'add_var' device.pk  %}" method="post">
    {% csrf_token %}
    {{ variant_form.as_p }}
    <input type="submit" class="btn">
    <script>
        const storageField = document.querySelector("#id_storage");
        storageField.setAttribute("placeholder", "Enter number of GB");
        const priceField = document.querySelector("#id_price");
        priceField.setAttribute("placeholder", "Enter price in USD");
    </script>
</form>
{% endif %}
{% endblock %}