@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;700&display=swap');

:root {
  --theme-font: 'Sora', sans-serif;
  --big-font-weight: 700;
  --theme-color-light: #1FB5DE;
  --theme-color-medium: #007696;
  --theme-color-dark: #004056;
  --main-font-color: black;
  --secondary-font-color: white;
}

body {
    background-image:url(https://i.redd.it/n6rxv4lf09n01.png);
    background-size: 217px 150px;
    opacity: 80%;
    font-family: var(--theme-font);   
}

main {
  text-align:center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: var(--big-font-weight);
  color: var(--main-font-color); 
}

#links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#heading {
  font-size: 60px;
  margin-bottom: 0;
}

#heading:hover {
  color: var(--theme-color-dark);
  transition: 150ms cubic-bezier(.81,.29,.06,.94);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 52px;
}

button, p, form label, input, a {
  font-size: 20px;
  font-weight: 500;
}

button, .btn {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  color: var(--secondary-font-color);
  background-color: var(--theme-color-medium);
  font-family: var(--theme-font);
}

nav button {
  background-color: var(--theme-color-light);
  margin-right: 8px;
}

button:hover, .btn:hover {
  background-color: var(--theme-color-dark);
  transition: 150ms cubic-bezier(.81,.29,.06,.94);
}

input {
  font-family: var(--theme-font);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--theme-color-medium);
}

label {
  margin-right: 8px;
  padding-top: 8px;
}

.errorlist {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
    color: var(--theme-color-dark);
    text-decoration: none;
}